<article class="card col-4 mt-2 mx-2 " style= "filter: drop-shadow(0 0 .25rem #02557c); border-radius: .5rem;">
    <div class = "card-header bg-primary text-white">
        <h2 class="card-title">{{name}}</h2>
        <h3 class="card-title"><i class="fas fa-solid fa-user"></i> {{role}}</h3>
    </div>
    <div class="card-body bg-light">
        <ul class="list-group">
          <li class="list-group-item">Email: {{email}}</li>
          <li class="list-group-item">ID: {{id}}</li>
          <li class="list-group-item">{{attr-key}}: {{attr_val}}</li>
    </div>

</article>